<!doctype html>
<html>
<head>
    <title>Toddler Book Reviews</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <!-- nav bar -->
    <div class="nav-bar">
        <ul>
        <li><span class="site-title">Toddler Book Reviews</span></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Get the list!</a></li>
        </ul>
    </div>
    <!-- display each page's content in here, without re-rendering the nav bar -->
    {{{body}}}
</body>
</html>
