We are parents, just like you! We love books that make us laugh, think, and inspire us to talk with our kids.

When reviewing books, we look for:

<ul>
<li>Strong writing that is fun to read along with</li>
<li>Beautiful illustrations</li>
<li>Diversity and inclusiveness</li>
<li>Clever plotlines, surprises and twists</li>
<li>Opportunities to "act" along with the story</li>
</ul>
