Toddler Book Reviews strives to be honest and independent. We'd love to hear from you!
<script src="js/contact.js"></script>

<form>
<ul class="contact-form">
    <!-- name -->
    <li>
        <label>Your name <span class="required">*</span></label>
        <input type="text" name="yourName" class="full-width" id="contact-form-from" placeholder="First and last"/>
    </li>

    <!-- email -->
    <li>
        <label>Email <span class="required">*</span></label>
        <input type="email" name="email" class="full-width" id="contact-form-email" placeholder="you@sample.com"/>
    </li>

    <!-- topic -->
    <li>
        <label>Subject</label>
        <select name="subject" class="full-width" id="contact-form-subject">
        <option value="Feedback">Feedback and questions</option>
        <option value="Partnership">Partnership opportunities</option>
        <option value="Author inquiries">Author inquiriers</option>
        </select>
    </li>

    <!-- typed message -->
    <li>
        <label>Your Message <span class="required">*</span></label>
        <span class="disclaimer-text">Please note that we cannot accept "samples" or "freebies" in exchange for positive reviews.</span>
        <textarea name="text" id="contact-form-text" class="full-width textinput"></textarea>
    </li>

    <!-- submit button -->
    <li>
        <button id="button-contact-form-submit">Submit</button>
    </li>

    {{emailRes}}
</ul>
</form>

</br>


