Toddler Book Reviews strives to be honest and independent. We'd love to hear from you!
<form action="mailto:granaman@oregonstate.edu" method="post" enctype="text/plain">
<ul class="contact-form">
    <!-- name -->
    <li>
        <label>Your name <span class="required">*</span></label>
        <input type="text" name="field1" class="full-width" placeholder="First and last"/>
    </li>

    <!-- email -->
    <li>
        <label>Email <span class="required">*</span></label>
        <input type="email" name="field3" class="full-width" placeholder="you@sample.com"/>
    </li>

    <!-- topic -->
    <li>
        <label>Subject</label>
        <select name="field4" class="full-width">
        <option value="Feedback">Feedback and questions</option>
        <option value="Partnership">Partnership opportunities</option>
        <option value="Author inquiries">Author inquiriers</option>
        </select>
    </li>

    <!-- typed message -->
    <li>
        <label>Your Message <span class="required">*</span></label>
        <span class="disclaimer-text">Please note that we cannot accept "samples" or "freebies" in exchange for positive reviews.</span>
        <textarea name="field5" id="field5" class="full-width textinput"></textarea>
    </li>

    <!-- submit button -->
    <li>
        <input type="submit" value="Submit" />
    </li>
</ul>
</form>

</br>


