<img src="images/download-preview.jpg" class="preview-image"/>

<p>Get our completely free, ready-to-print pdf of book recommendations here! Bring it to your library, send it to family and friends as a wishlist - or just cross 'em off as you read 'em with your kiddo!</p>

</p>The list is updated montly, so check back often.</p>

<a href="files/book-list-2018.pdf" class="download-link-button" download>Download PDF</a>
