<h1>This month's book pick - July 2018</h1>

<table class="review-table">
<tr>
<!-- left cell -->
<td>
<div class="book-cover">
<img src="images/book-babylovescoding.jpg">
</div
</td>
<!-- right cell -->
<td>
<ul class="quick-ratings">
<li><h2>Baby Loves Coding</h2></li>
<li><span class="star">&#9733; &#9733; &#9733; &#9733; &#9733;</span></li>
<li>5/5 stars</li>
</ul>
</td>
</tr>
<table>
<p>
<b>Baby Loves Coding!</b> by <a href="https://www.charlesbridge.com/pages/ruth-spiro">Ruth Spiro</a> and illustrated by <a href="http://www.eneri.net/">Irene Chan</a> just hit shelves this June. Previous books from this same series, Baby Loves Science, are a huge hit in our household so we are thrilled to tell you that Baby Loves Coding! is excellent. Computer programming is a complicated topic, but it's introduced in a fun and toddler-appropriate way in this book. Counting, colors, and sequences are all on display here. We especially liked the page that shows how computer code is what powers a variety of objects a toddler is familiar with, such as the microwave.
</br></br>
The Baby Loves Science series is great - Chan's illustrations are vibrant and readable, with enough included on each page to inspire questions and conversation with our toddler.
</p>

<a href="https://www.amazon.com/Baby-Loves-Coding-Science/dp/158089884X/ref=sr_1_4?s=books&ie=UTF8&qid=1532542350&sr=1-4&keywords=baby+loves" class="amazon-link-button">See Baby Loves Coding! on Amazon.com</a>


<h1>Previous month's book pick - June 2018</h1>

<table class="review-table">
<tr>
<!-- left cell -->
<td>
<div class="book-cover">
<img src="images/book-peckpeckpeck.jpg">
</div
</td>
<!-- right cell -->
<td>
<ul class="quick-ratings">
<li><h2>Peck Peck Peck</h2></li>
<li><span class="star">&#9733; &#9733; &#9733; &#9733; &#9733;</span></li>
<li>5/5 stars</li>
</ul>
</td>
</tr>
<table>
<p>
<b>Peck Peck Peck</b> by Lucy Cousins has been one of our toddler's go-to books ever since we brought it home a couple months ago. The story is clever and funny, and each page is full of eye-catching hand-drawn illustrations. The book's novel feature is a hole-punch size hole (or holes) in every page - our toddler loves to spot them and poke them with her fingers. We also liked that this book features a child and Daddy pairing (we have plenty of books featuring child and Mommy, so it's fun to see Daddy get some time in the spotlight).
</br></br>
This is our second book from Lucy Cousins - earlier this year we introduced readers to Hooray for Fish!, which our toddler also adores. Another hit from a great author/illustrator!
</p>
<a href="https://www.amazon.com/Peck-Lucy-Cousins/dp/0763689467/ref=sr_1_1?s=books&ie=UTF8&qid=1532543247&sr=1-1&keywords=peck+peck+peck" class="amazon-link-button">See Peck Peck Peck on Amazon.com</a>

<h1>Why read to your toddler?</h1>

<!-- carousel code credit: bootstrap -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="images/slideshow-1.jpg" alt="...">
        <div class="carousel-caption">
        <h3>Teach vocabulary and grammar</h3>
        <span class="image-credit">image credit: <a href="https://getstarling.versame.com/how-to-read-to-a-baby/">Starling</a></span>
        </div>
    </div>
    <div class="item">
      <img src="images/slideshow-2.jpg" alt="...">
        <div class="carousel-caption">
        <h3>Help your little one settle for bed</h3>
         <span class="image-credit">image credit: <a href="/">Toddler Book Reviews</a></span>
        </div>
    </div>
    <div class="item">
      <img src="images/slideshow-3.jpg" alt="...">
        <div class="carousel-caption">
        <h3>Bond over shared entertainment</h3>
         <span class="image-credit">image credit: <a href="https://mumsgrapevine.com.au/2018/01/dads-reading-toddlers-language-development/">Mum's Grapevine</a></span>
        </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</br>
<p>
Reading to infants and toddlers has been shown to confer many advantages and benefits. Reading enhances a child's vocabulary, exposes children to a variety of everyday topics, and primes them for literacy and writing. Even during infancy, reading is important because it teaches the basics of how books work and how spoken language can be represented on a page. Beyond that, reading during the toddler years has many identifiable benefits.

Here are 6 more reasons to read to your toddler.
</p>
<ol>

<li><b>Teach a wider range of vocabulary and grammatical structures.</b> Daily speech tends to be repetitive and limited in vocabulary, but books, which are written in a more descriptive way that uses more formal grammatical structures, can expose your toddler to an infinite variety of words, ideas, and phrases that they might not otherwise hear in daily life. <a href="https://www.rif.org/sites/default/files/Support_Materials/ReadingAloud.pdf">Source</a></li>

<li><b>Share your enthusiasm for books.</b> Young children look to the adults in their lives for cues, so demonstrating an enthusiasm for books will encourage your toddler to pick up books all on his or her own.</li>

<li><b>A great way to spend time together.</b> Reading to your child is an excellent way to grow your bond and have fun. There are many ways to enjoy a book beyond just reading the words on the page: ask your toddler to point to objects on the pages by name, color, or size. Talk about how characters might be feeling, and discuss why characters are acting a certain way.</li>

<li><b>Get a lasting literacy boost.</b> A recent study demonstrated that reading books with a child in early infancy and toddlerhood predicts skills such as name-writing and vocabulary up to four years later. Strong literacy skills correlate with higher performance in all subjects. <a href="https://www.sciencedaily.com/releases/2017/05/170504083146.htm">Source</a></li>

<li><b>Develops imagination and creativity.</b> Reading encourages imagination as the reader has to "fill in the blank", even in books with pictures. </li>

<li><b>Entertaining and fun.</b> Developing a love of reading can reduce the amount of time children spend in front of screens, idly consuming entertainment.</li>

</ol>

<h1>Tips for reading with your toddler</h1>
<ul>
<li><b>Make it a bedtime tradition.</b> Spending 5-10 minutes winding down before bed can help your child develop a healthy, predictable bedtime routine and prevent future bedtime struggles. <a href="https://www.healthychildren.org/English/ages-stages/toddler/Pages/How-to-Share-Books-with-Your-18-to-23-Month-Old.aspx">Source</a></li>
<li><b>Let your kid choose the book.</b> Toddlers thrive on predictability and routine, so don't be surprised if your child picks the same book over and over.</li>
<li><b>Turn pages together, or let your child turn them.</b> Even the youngest children love an opportunity to demonstrate their capabilities.</li>
<li><b>Ask your child questions he/she can answer, such as:</b>
    <ul>
        <li>"Where's the kitty?"</li>
        <li>"What animal says moo?"</li>
        <li>"What is this?"</li>
        <li>"What color is this?"</li>
    </ul>
</li>
<li><b>Keep books somewhere accessible to your child.</b> Your child should be able to choose books spontaneously, and explore them on his or her own. Keeping them on a low shelf or in a basket on the floor is a great way to communicate, "these books are for you, please enjoy them!"</b></li>
</ul>

<h1>More toddler book recommendations</h1>
For books your toddler will love in one handy PDF, <a href="/download">download our complete reading list.</a>
