<!doctype html>
<html>
<head>
    <title>DB Project</title>
    <!-- project-specific css -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {{{body}}}
    </div>
    <div class="col-md-2"></div>
</body>
</html>
