<!-- Amanda Grant (Mandi) onid: Granaman -->
<!-- Summer 2018 CS 290 Week 4 -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>HW: GET and POST checker (granaman)</title>
    </head>

    <body id="body">
        <h1>{{status}}</h1>
        <h2>Current time is {{time}}</h2>
    </body>

</html>

