<!doctype html>
<html>
<head>
    <title>Toddler Book Reviews</title>
    <!-- bootstrap for the carousel -->
    <link rel="stylesheet" href="css/bootstrap-carousel.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <!-- nav bar -->
    <div class="nav-bar">
        <ul>
        <li><span class="site-title"><a href="/">Toddler Book Reviews</a></span></li>
        <li><a href="/about" id="link-about">About Us</a></li>
        <li><a href="/contact" id="link-contact">Contact</a></li>
        <li><a href="/download" id="link-download">Get the list!</a></li>
        </ul>
    </div>
    <!-- display each page's content in here, without re-rendering the nav bar -->
    <div class="page-body">
        {{{body}}}
    </div>

    <footer>
        <span>&#169; {{year}} M. Grant - Read our <a href="/privacy" id="link-privacy">Privacy Policy</a></span>
    </footer>
</body>
</html>
